<section class="container">
  <div class="row">
    <h1 class="title">El aroma mágico</h1>
  </div>
  <div class="row line">
    <hr>
  </div>
  <div class="row imagen">
    <img src="/assets/cafe_el_aroma_magico.png" alt="granos de café">
  </div>
  <div class="row line">
    <hr>
  </div>
  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <thead class="table-head">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Region</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let coffe of coffees">
          <th scope="row"><strong>{{coffe.id}}</strong></th>
          <td>{{coffe.nombre}}</td>
          <td>{{coffe.tipo}}</td>
          <td>{{coffe.region}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="numberCoffeeBlend > 0 || numberCoffeeOrigen > 0">
    <p class="total" *ngIf="numberCoffeeOrigen > 0">Total café de origen: {{numberCoffeeOrigen}}</p>
    <p class="total" *ngIf="numberCoffeeBlend > 0">Total café blen: {{numberCoffeeBlend}}</p>
  </div>
  <footer class="footer"><span>Contact us: +57 3102105253 - info&#64;elaromamagico.com - &#64;elaromamagico</span></footer>

</section>

